@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background: black;
    /*deixar nav transp*/
}

nav {
    background: url(./img/largeBar.png) no-repeat center;
    width: 100%;
    height: 70px;
    margin-top: -8px;
}

label {
    padding-left: 8px;
    background-color: transparent;
    font-size: 20px;
}

.content {
    margin-top: 25px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 100px;
}

h3, h4 {
    padding: 8px;
    text-align: center;
}

.card {
    background: black;
    border: 2px solid white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    margin: 25px 0px -60px 36px;
}

.imgCard {
    border-radius: 8px;
    width: 150px;
    height: auto;
}

.info {
    margin: 15px 0px -25px 0px;
}

select, .button {
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    margin: 5px;
}

.option {
    background-color: black;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 12px;
}

@media (min-width: 280px) {
    .content {
        margin-top: 25px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: repeat(1, max-content);
        grid-gap: 50px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 210px;
        height: 550px;
        border-radius: 20px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }
}

@media (min-width:320px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(1, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 210px;
        height: 550px;
        border-radius: 20px;
        margin-left: -10px;
    }
}

@media (min-width:480px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 250px;
        height: 550px;
        border-radius: 20px;
    }
}

@media (min-width:539px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(1, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 200px;
        height: 550px;
        border-radius: 20px;
    }
}

@media (min-width:600px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
    }
}

@media (min-width:801px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 220px;
        height: 520px;
        border-radius: 20px;
    }
}

@media (min-width:1025px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 290px;
        height: 500px;
        border-radius: 20px;
    }
}

@media (min-width:1281px) {
    .content {
        margin-top: 25px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 100px;
    }
    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 12px;
    }
    .card {
        background: black;
        border: 2px solid white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
    }
}

footer{
    margin-top: 100px;
}

.indexOptions{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
}

.indexCard{
    background: black;
    border: 2px solid white;
    width: 100px;
    height: 150px;
    border-radius: 20px;
    padding: 8px;
    margin-left: 30px;
}

